<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Money Manager</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
</head>

<body>

<button>Login</button>

<button>Registration</button>

</body>
</html>