<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Money Manager</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
</head>

<body>

Hello, {{ app.user.firstName }} {{ app.user.lastName }}
<br>
Your email is {{ app.user.email }}

</body>
</html>