{% extends 'base.html.twig' %}
{% block title %}Пошук членів для групи {{ organization.name }}{% endblock %}
{% block body %}
    <div style="text-align: center;">
        <div style="width: 45%; display: inline-block;">
            <p class="text-title">Пошук членів для групи "{{ organization.name }}"</p>
            <p class="text-subtitle">Введіть email користувача та натисність<br>кнопку "Пошук"</p>

            <div class="col-md-9" style="margin: 0 auto;">
                <div class="panel-body">

                    <div class="container-form">
                        <label for="example-search-input" class="col-form-label">Електронна пошта</label>
                        <input id="users-search-input" type="search" class="form-control" value="">
                        <input id="search_users_btn" type="submit" class="btn btn-secondary" value="Пошук">
                    </div>

                    <div id="users_div">
                        <select multiple id="users_select" class="form-control" style="display: none;">

                        </select>
                        <p id="users_no_results" style="display: none;">No results</p>
                    </div>

                    <div class="container-form">
                        <button id="add_user_btn" type="submit" class="btn btn-secondary" value="Додати" disabled>
                            Додати
                        </button>
                    </div>

                    <div id="result">

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var users;

        $('#search_users_btn').click(function () {
            var searchQuery = $('#users-search-input').val();

            $.ajax({
                type: "GET",
                url: "/users/search",
                data: {
                    email: searchQuery
                },
                success: function (msg) {
                    users = msg.users;

                    console.log(msg);

                    if (msg.users.length > 0) {
                        $('#users_no_results').hide();
                        $('#users_select').show();

                        $('#users_select').empty();

                        $.each(msg.users, function (index, value) {
                            $('#users_select')
                                .append($("<option></option>")
                                    .val(index)
                                    .text(value.email));
                        });
                    } else {
                        $('#users_select').hide();
                        $('#users_no_results').show();
                    }
                },
                error: function (msg) {
                    $('#users_select').hide();
                    $('#users_no_results').show();
                    console.log("failed");
                }
            })
        });

        $('#users_select').change(function () {
            $('#add_user_btn').prop("disabled", false);
        });

        $('#add_user_btn').click(function () {
            var index = $('#users_select option:selected').val();
            var selectedUser = users[index];
            console.log(selectedUser);

            $.ajax({
                type: "POST",
                url: "/organizations/" + {{ organization.id }} +"/members/add",
                data: {
                    userId: selectedUser.id
                },
                success: function (msg) {
                    $('#result').html('Added');
                    console.log("success");
                },
                error: function (msg, textStatus, xhr) {
                    $('#result').html("Цей користувач вже є членом даної групи");
                    console.log("failed");
                }
            })
        });
    </script>

{% endblock %}