{% extends "::base.html.twig" %}
{% block title %}MoneyManager - авторизація{% endblock %}
{% block body %}
    <div style="width: 100%;">
        <div style="display: table; margin: 0 auto; text-align: center;">
            {% if error %}
                <div style="margin-top: 24px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('login') }}" method="post" style="width: 350px; margin: 0 auto;">

                <div class="container-form">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>

                <div class="container-form">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="_password"/>
                </div>

                <input type="hidden" name="_target_path" value="/"/>

                <div class="container-form">
                    <button class="btn btn-block btn-primary" type="submit">Login</button>
                </div>
            </form>

            <div style="margin-top: 20px;">
                <a href="{{ path('registration') }}">Ще не зареєстровані? Натисніть щоб зареєструватися</a>
            </div>
        </div>
    </div>
{% endblock %}