{% extends 'base.html.twig' %}
{% block title %}Формування звіту{% endblock %}
{% block body %}
    <div style="text-align: center;">
        <div style="width: 45%; display: inline-block;">
            <p class="text-title">Формування звіту для усіх Ваших аккаунтів</p>

            <div class="col-md-9" style="margin: 0 auto;">
                <div class="panel-body">

                    <br>
                    <br>
                    <a>Оберіть тип операції</a>
                    <br>
                    <br>

                    <label class="radio-inline" style="margin-right: 8px;">
                        <input type="radio" name="types" id="type_all" value="all"> Усі
                    </label>
                    <label class="radio-inline" style="margin-left: 8px; margin-right: 8px;">
                        <input type="radio" name="types" id="type_income" value="income"> Надходження
                    </label>
                    <label class="radio-inline" style="margin-left: 8px;">
                        <input type="radio" name="types" id="type_expense" value="expense"> Витрати
                    </label>

                    <br>
                    <br>

                    <p>Або категорію</p>

                    <select multiple="multiple" id="categories_select" class="form-control" size="10">
                        {% for category in categories %}
                            <option>{{ category.name }}</option>
                        {% endfor %}
                        {#<option>qwe</option>#}
                        {#<option>qwe</option>#}
                        {#<option>qwe</option>#}
                    </select>

                    <br>
                    <a>Вкажіть дату</a>
                    <br>

                    <div style="display: inline-block;">
                        <div style="float: left; margin-right: 8px;">
                            <a>Від:</a>
                            <br>
                            <input id="from_date" type="date" name="from_date">
                        </div>

                        <div style="float: right; margin-left: 8px;">
                            <a>До:</a>
                            <br>
                            <input id="to_date" type="date" name="to_date">
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>
                    <button id="btn_make_report" type="submit" class="btn btn-primary" style="width: 275px;">
                        Сформувати
                    </button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('option').mousedown(function (e) {
            $('#type_all').prop('checked', false);
            $('#type_income').prop('checked', false);
            $('#type_expense').prop('checked', false);

            e.preventDefault();
            $(this).prop('selected', !$(this).prop('selected'));
            return false;
        });

        $('#type_all').change(function () {
            $("option:selected").prop("selected", false);
        });
        $('#type_income').change(function () {
            $("option:selected").prop("selected", false);
        });
        $('#type_expense').change(function () {
            $("option:selected").prop("selected", false);
        });
        $('#categories_select').change(function () {
            $('#type_all').prop('checked', false);
            $('#type_income').prop('checked', false);
            $('#type_expense').prop('checked', false);
        });

        $('#btn_make_report').click(function () {
            $.ajax({
                type: "GET",
                url: "/api/categories",
                success: function (msg) {
                    var categories = msg.categories;

                    // type
                    var type;
                    var radioButtons = document.getElementsByName('types');
                    for (var i = 0, length = radioButtons.length; i < length; i++) {
                        if (radioButtons[i].checked) {
                            type = radioButtons[i].value;
                        }
                    }
                    console.log(type);

                    // categories
                    var selectedCategories = $('#categories_select').val();
                    console.log(selectedCategories);

                    // date
                    console.log($('#from_date').val());
                    console.log($('#to_date').val());

                    var fromDateVal = $('#from_date').val().split('-');
                    var fromDateVal1 = fromDateVal[0] + "/" + fromDateVal[1] + "/" + fromDateVal[2] + " 00:00:00 GMT+0000";
                    var fromDate = Math.round(new Date(fromDateVal1).getTime() / 1000);
                    console.log(fromDate);

                    var toDateVal = $('#to_date').val().split('-');
                    var toDateVal1 = toDateVal[0] + "/" + toDateVal[1] + "/" + toDateVal[2] + " 23:59:59 GMT+0000";
                    var toDate = Math.round(new Date(toDateVal1).getTime() / 1000);
                    console.log(toDate);

                    if (!isNaN(fromDate) || !isNaN(toDate)) {
                        if (isNaN(fromDate)) {
                            alert("Вкажіть початкову дату");
                        }
                        if (isNaN(toDate)) {
                            alert("Вкажіть кінцеву дату");
                        }

                        if (fromDate > toDate) {
                            alert("Початкова дата не може бути більше кінцевої");
                        }
                    }

                    if (type === undefined && selectedCategories.length == 0 && isNaN(fromDate) && isNaN(toDate)) {
                        alert("Вкажіть хоча б один параметр для формування звіту");
                    } else {
                        var link = '/report/accounts/reportResult?kind=user';

                        if (type != undefined) {
                            link = link + "&type=" + type;
                        }

                        if (selectedCategories.length > 0) {
                            for (var i = 0, length = categories.length; i < length; i++) {
                                if (selectedCategories.indexOf(categories[i].name) !== -1) {
                                    link = link + "&categoryId[]=" + categories[i].id;

                                    console.log("selected = " + categories[i].name);
                                    console.log("selected = " + categories[i].id);
                                }
                            }
                        }

                        if (!isNaN(fromDate) && !isNaN(toDate)) {
                            link = link + "&fromDate=" + fromDate + "&toDate=" + toDate;
                        }

                        console.log("link = " + link);
                        window.location.href = link;
                    }
                },
                error: function (msg) {
                    console.log("failed");
                }
            });
        });
    </script>

{% endblock %}